.page1{
    .heads{
        background-color: chartreuse;
        height:2000px
        
    }
    .head1{
        font-size: 200px;
        font-style: italic;
        color: chocolate;
        text-align: center;
    }
}
.page2{
    .heads2{
        background-color: blueviolet;
        height:2000px
        
    }
    .head2{
        font-size: 200px;
        font-style: italic;
        color: greenyellow;
        text-align: center;
    }
}
.demo{
    background-color: cadetblue;
}